#footer {
  width: 100%; /* Abarca el 100% del ancho de la pantalla */
  text-align: center; /* Centra el contenido dentro del footer */
  position: relative; /* Asegura que el footer se posicione correctamente */
  bottom: 0; /* Coloca el footer en la parte inferior */
  
}

.logo {
  max-width: 100%; /* Asegúrate de que la imagen no exceda el ancho del footer */
  height: auto; /* Mantiene la proporción de la imagen */
}
